<section>
  <h1>Movie rental app</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="form-field">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" required />
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" required />
    </mat-form-field>
    <button type="submit" class="primary">{{'login.login' | translate}}</button>
    @if(showErrorMessage) {<div>{{'login.wrong_data' | translate}}</div>}
  </form>
</section>
