@if(userProfile$ | async; as profileData) {
  <section class="profile">
    <div class="avatar">
      <span class="material-symbols-outlined">person</span>
    </div>
    <div class="data-container">
      <div>
        <div class="name">{{profileData.last_name | uppercase }}, {{profileData.first_name}}</div>
        <div class="email">{{profileData.email}}</div>
      </div>
      <div>
        <div class="balance">
          Your balance is: {{profileData.wallet | currency : 'EUR'}}
        </div>
        <button class="primary">Update your balance</button>
      </div>
    </div>
  </section>
}
