/* You can add global styles to this file, and also import other style files */
body {
  --mat-menu-container-color: #23233C;
  --mat-paginator-container-text-color: #ffffff;
  --mat-paginator-container-background-color: #0A0F26;
  --mat-paginator-enabled-icon-color: #ffffff;
  --mat-select-enabled-trigger-text-color: #ffffff;
  --mat-select-enabled-trigger-text-color: #ffffff;
  --mat-select-enabled-arrow-color: #ffffff;
  --mdc-outlined-text-field-outline-color: #ffffff;   
  --mdc-dialog-container-color: #23233C;
  --mdc-dialog-subhead-color: #ffffff;
  --mdc-dialog-supporting-text-color: #ffffff;
  --mdc-filled-text-field-disabled-container-color: #4C4C68;
  --mdc-filled-text-field-disabled-label-text-color: #737389;
  --mdc-filled-text-field-disabled-input-text-color: #737389;
  background-color: #0A0F26;
  color: #fff;
  margin: 0; 
  font-size: 18px;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
html, body { height: 100%; }

title {
  display: block;
}

h1 {
  font-size: 3em;
}

a {
  color: white;
  text-decoration: none;
}

button {
  width: fit-content;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;
  background-color: transparent;
  border: none;
  height: fit-content;

  &.primary {
    background-color: #44C1F2;
    color: #0A0F26;
    border: none;

    &:hover {
      background-color: #88d7f7;
    }

    &.disabled,
    &:disabled {
      background-color: #737389;
      pointer-events: none;
    }
  }

  &.secondary {
    color: #44C1F2;
    border: 1px solid #44C1F2;

    &:hover {
      border: 1px solid #88d7f7;
      color: #88d7f7;
    }

    &.disabled,
    &:disabled {
      border: 1px solid #737389;
      color: #737389;
      pointer-events: none;
    }
  }

  &.tetriary {
    color: #44C1F2;

    &:hover {
      color: #88d7f7;
    }

    &.disabled,
    &:disabled {
      color: #737389;
      pointer-events: none;
    }
  }

  &.icon-btn {
    padding: 0;
    span {
      font-size: 30px;
    }
  }
}

.mdc-text-field--filled {
  --mdc-filled-text-field-container-color: #37374D;
  --mdc-filled-text-field-label-text-color: #ffffff;
  --mdc-filled-text-field-input-text-color: #ffffff;
  --mdc-filled-text-field-hover-label-text-color: #ffffff;
  --mdc-filled-text-field-disabled-label-text-color: #ffffff;
  --mdc-filled-text-field-focus-active-indicator-color:  #ffffff;
  --mdc-filled-text-field-focus-active-indicator-color: #ffffff;
  --mdc-filled-text-field-caret-color: #ffffff;
  --mdc-filled-text-field-focus-label-text-color: #ffffff;
  --mdc-filled-text-field-disabled-container-color: #4C4C68;
  --mdc-filled-text-field-disabled-label-text-color: #d5d5dc;
  --mdc-filled-text-field-disabled-input-text-color: #d5d5dc;
  --mat-select-disabled-trigger-text-color: #d5d5dc;
}

.mat-mdc-dialog-container {
  min-width: 400px !important;
}

.mat-mdc-dialog-actions {
  display: flex;
  justify-content: flex-end !important;
  gap: 20px;
}

.mat-mdc-menu-item {
  --mat-menu-item-label-text-color: #ffffff;
  --mat-menu-item-hover-state-layer-color: #44C1F2;

  &:hover {
    --mat-menu-item-label-text-color: #0A0F26;
  }
}

.mat-mdc-menu-content {
  padding: 0 !important;
}