/* You can add global styles to this file, and also import other style files */
body {
  background-color: #0A0F26;
  color: #fff;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
html, body { height: 100%; }

h1 {
  font-size: 3em;
}

button {
  width: fit-content;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-size: 14px;

  &.primary {
    background-color: #44C1F2;
    color: #0A0F26;
    border: none;

    &:hover {
      background-color: #88d7f7;
    }
  }
}

.mdc-text-field--filled {
  --mdc-filled-text-field-container-color: #102540;
  --mdc-filled-text-field-label-text-color: #ffffff;
  --mdc-filled-text-field-input-text-color: #ffffff;
  --mdc-filled-text-field-hover-label-text-color: #ffffff;
  --mdc-filled-text-field-disabled-label-text-color: #ffffff;
  --mdc-filled-text-field-focus-active-indicator-color:  #ffffff;
  --mdc-filled-text-field-focus-active-indicator-color: #ffffff;
  --mdc-filled-text-field-caret-color: #ffffff;
  --mdc-filled-text-field-focus-label-text-color: #ffffff;
}